/* #region Animation Loader */

@keyframes taillebody {

    // Gestion de la taille de la page en fonction du loader
    0% {
        overflow: hidden;
    }

    100% {
        overflow: auto;
    }
}

@keyframes loaderDisparait {

    // Disparition du loader
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes spin {

    // rotation du loader
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes menuApparition {

    // Apparition du menu en accord avec la disparition du loader
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* #endregion */


/* #region Animation Apparition des Menus */

@keyframes apparitionMenuDivers {

    // Apparition progressive des Menus divers
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* #endregion */