$breakpoints: ("tablette":481px,
    "desktop":1281px,
);

@mixin media-min($key) {
    @media screen and (min-width: map-get($breakpoints, $key)) {
        & {
            @content;
        }
    }
}


$couleurPrimaire : #9356DC;
$couleurSecondaire : #FF79DA;
$couleurTertiaire : #99E2D0;
$grisclair :rgb(243, 243, 243);
$grisfoncee: rgb(216, 215, 215);
$grisnoir:rgb(59, 53, 53);
$policeTitres : "Shrikhand";
$policeTexte : "Roboto";