@charset "UTF-8";
/* #region Généralités */
body {
  margin: 0px;
}

/* #endregion */
/* #region Header */
header {
  padding: 16px;
  -webkit-box-shadow: 0px 8px 15px #636161;
          box-shadow: 0px 8px 15px #636161;
  position: relative;
  height: 65px;
}

.fleche {
  position: absolute;
  top: 21px;
  left: 8%;
  font-size: 1.5rem;
}

.logoheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logoheader img {
  width: 40%;
}

@media screen and (min-width: 1281px) {
  .logoheader img {
    width: 494px;
    height: 86px;
  }
}

/* #endregion */
/* #region Contenu Index */
#contenuindex {
  width: 100%;
}

#contenuindex h1,
#contenuindex h2,
#contenuindex p {
  font-family: "Roboto";
  font-weight: bold;
}

/* #region Partie 1 */
#partie1 {
  background-color: #f3f3f3;
  padding-bottom: 40px;
}

#partie1 .emplacement p {
  font-weight: bold;
}

#partie1 .explication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#partie1 .explication p,
#partie1 .explication h1 {
  margin-left: 5%;
  margin-right: 5%;
}

#partie1 .explication button {
  background-color: #FF79DA;
  border-radius: 25px;
  width: 50%;
  color: white;
  border-color: white;
}

#partie1 .localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #d8d7d7;
  position: relative;
}

#partie1 .fas {
  position: absolute;
  left: 30%;
  bottom: 20px;
}

/* #endregion */
/* #region Partie 2 */
#partie2 {
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

#partie2 h1 {
  margin-left: 30px;
}

#partie2 .restaurant,
#partie2 .choix,
#partie2 .degustez {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  background-color: #f3f3f3;
  height: 50px;
  width: 280px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  position: relative;
}

#partie2 p {
  margin: 0px;
  font-weight: bold;
}

#partie2 .numero {
  background-color: #9356DC;
  position: absolute;
  border-radius: 50%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 5px;
  right: 280px;
}

#partie2 .numero p {
  color: white;
}

#partie2 .fas {
  margin-right: 15px;
  color: #8f8b8b;
}

#partie2 .fas:active {
  color: #9356DC;
}

/* #endregion */
/* #region Partie 3 */
#partie3 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f3f3f3;
  padding-top: 40px;
  padding-bottom: 40px;
}

#partie3 h1 {
  margin-left: 5%;
}

#partie3 h2,
#partie3 p {
  margin-top: 5px;
  margin-bottom: 0px;
}

#partie3 img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#partie3 .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  font-weight: normal;
  margin-left: 15px;
}

#partie3 .info .precision {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 15px;
}

#partie3 #note img {
  -o-object-position: center;
     object-position: center;
}

#partie3 #palette,
#partie3 #note,
#partie3 #francaise,
#partie3 #delice {
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  padding-bottom: 50px;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 25px;
  height: 200px;
  -webkit-box-shadow: 8px 8px 15px #d1cfcf;
          box-shadow: 8px 8px 15px #d1cfcf;
  position: relative;
}

#partie3 .favoris {
  left: 85%;
  position: absolute;
  margin-top: -40px;
}

#partie3 figure {
  padding: 0px;
  margin: 0px;
}

#partie3 figcaption {
  margin-left: 15px;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
}

#partie3 .nouveau {
  background-color: #99E2D0;
  position: absolute;
  margin-top: 2%;
  margin-left: 78%;
  padding: 5px;
  border-radius: 3px;
}

#partie3 .nouveau P {
  font-weight: bold;
}

#partie3 a {
  text-decoration: none;
}

/* #endregion */
/* #endregion */
/* #region Contenu Menus */
#contenumenus {
  width: 100%;
  margin-bottom: 20px;
}

/* #region Présentation */
.presentation img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* #endregion */
/* #region Titres des menus */
.menus {
  width: 100%;
  background-color: #f3f3f3;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  margin-top: -74px;
  position: relative;
}

.menus h2 {
  margin-left: 5%;
}

.menus .titresmenus {
  position: relative;
}

.menus .titresmenus .favorismenus {
  position: absolute;
  left: 85%;
  top: 5px;
}

.menus .titresmenus h1 {
  margin-left: 30px;
  font-weight: bold;
  font-family: "Shrikhand";
}

.menus button {
  background-color: #FF79DA;
  border-radius: 25px;
  width: 50%;
  color: white;
  border-color: white;
}

/* #endregion */
/* #region Blocs de menus */
.entrees,
.plats,
.desserts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blocmenu {
  background-color: white;
  border-radius: 15px;
  width: 90%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Roboto";
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 8px 15px #636161;
          box-shadow: 0px 8px 15px #636161;
}

.blocmenu .blocnom {
  width: 80%;
}

.blocmenu h2,
.blocmenu p {
  margin-left: 15px;
}

.blocmenu h2 {
  margin-bottom: 0px;
}

.blocmenu p {
  margin-top: 2px;
}

/* #endregion */
/* #endregion */
/* #region Footer */
footer {
  background-color: #3b3535;
  padding: 10px;
}

.listefooter {
  color: white;
  font-family: "Roboto";
  padding-left: 5%;
}

@media screen and (min-width: 481px) {
  .listefooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0%;
  }
}

@media screen and (min-width: 1281px) {
  .listefooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0%;
  }
}

.listefooter .logofooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: "Shrikhand";
}

.listefooter ul {
  list-style: none;
  padding: 0;
}

.listefooter .fas {
  width: 25px;
}

/* #endregion */
/*# sourceMappingURL=style.css.map */