@import "./variablesmixin";
@import "./animations";

/* #region Généralités et Loader */
body {
    margin: 0px;
    background-color: #f3f3f3;
    max-width: 1920px;
    min-width: 400px;
    margin: auto;

    .loaderTotal {

        display: flex;
        justify-content: center;
        animation: loaderDisparait 1s 3s both;
        position: relative;
        top: 576px;

        .fas {
            display: flex;
            justify-content: center;
            position: relative;
            left: 165px;
            top: 120px;
            color: $couleurSecondaire;
        }

        #loader {
            width: 300px;
            height: 300px;
            border: 3px solid #f3f3f3;
            border-top: 3px dotted $couleurPrimaire;
            border-radius: 50%;
            animation: spin 1s linear infinite;
        }

    }

}

/* #endregion */

/* #region Header */
header {
    padding: 16px;
    box-shadow: 0 0 15px 0 #636161;
    position: relative;
    height: 85px;
    background-color: white;
}

.fleche {
    position: absolute;
    top: 21px;
    left: 8%;
    font-size: 1.5rem;
}

.logoHeader {
    display: flex;
    justify-content: center;

    img {
        width: 40%;

        @include media-min("desktop") {
            width: 494px;
            height: 86px;
        }
    }
}

/* #endregion */

/* #region Contenu Index */

#contenuIndex {
    width: 100%;
    position: relative;
    bottom: 305px;
    opacity: 0;
    animation: menuApparition 3s 3.5s both;

    h1 {

        font-family: $policeTexte;
        font-weight: bold;
        margin-left: 44px;
    }

    h2,
    p {
        font-family: $policeTexte;
        font-weight: bold;
    }

}

/* #region Partie 1 */

#partie1 {
    background-color: $grisclair;
    padding-bottom: 40px;

    .emplacement {
        p {
            font-weight: bold;
        }
    }


    .explication {

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;


        p,
        h1 {
            margin-left: 5%;
            margin-right: 5%;
        }

        button {
            background: linear-gradient(180deg, $couleurSecondaire, $couleurPrimaire);
            border-radius: 25px;
            width: 50%;
            color: white;
            border: none;
            box-shadow: 0 5px 5px 0 rgb(0, 0, 0 / 10%);
            @include media-min("desktop") {
                width: 20%;
        
            }
        
            @include media-min("tablette") {
                width: 200px;
            }
            &:hover {
                opacity: 0.8;
                box-shadow: 0 7px 7px 0 rgb(0, 0, 0 / 50%);
            }
        }
    }

    .localisation {

        display: flex;
        justify-content: center;
        background-color: $grisfoncee;
        position: relative;
    }

    .fas {
        position: absolute;
        left: 30%;
        bottom: 20px;
    }
}

/* #endregion */

/* #region Partie 2 */

#partie2 {

    padding-bottom: 50px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;

    h1 {
        margin-left: 30px;
    }

    .restaurant,
    .choix,
    .degustez {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-color: $grisclair;
        height: 50px;
        width: 280px;
        border-radius: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        position: relative;
    }

    p {
        margin: 0px;
        font-weight: bold;
    }

    .numero {
        background-color: $couleurPrimaire;
        position: absolute;
        border-radius: 50%;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-top: 5px;
        right: 280px;

        p {
            color: white;
        }
    }

    .fas {
        margin-right: 15px;
        color: rgb(143, 139, 139);
    }

    .fas:active {
        color: $couleurPrimaire;
    }

}



/* #endregion */

/* #region Partie 3 */

#partie3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 243, 243);
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;

    @include media-min("desktop") {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }

    @include media-min("tablette") {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    h1 {
        margin-left: 5%;
    }

    h2,
    p {
        margin-top: 5px;
        margin-bottom: 0px;
    }

    img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        object-position: bottom;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        font-weight: normal;
        margin-left: 15px;

        .precision {
            display: flex;
            flex-direction: column;
            padding-left: 15px;
        }
    }

    #note {
        img {
            object-position: center;
        }
    }

    #palette,
    #note,
    #francaise,
    #delice {
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
        padding-bottom: 50px;
        border-radius: 20px;
        background-color: white;
        margin-bottom: 25px;
        height: 200px;
        box-shadow: 8px 8px 15px #d1cfcf;
        position: relative;

        @include media-min("desktop") {
            width: 40%;
            margin-right: 1%;
            margin-left: 1%;

        }

        @include media-min("tablette") {
            width: 40%;
            margin-right: 1%;
            margin-left: 1%;
        }
    }

    .favoris {
        left: 85%;
        position: absolute;
        margin-top: -40px;
    }

    figure {
        padding: 0px;
        margin: 0px;
    }

    figcaption {
        margin-left: 15px;
        font-weight: bold;
        font-size: 20px;
        margin-top: 10px;
        font-family:$policeTexte;
    }

    .nouveau {
        background-color: $couleurTertiaire;
        position: absolute;
        top: 2%;
        right: 5%;
        padding: 5px;
        border-radius: 3px;
        width: 95px;

        P {
            text-align: center;
            font-weight: bold;
            color: darken($couleurTertiaire,40%);
        }
    }

    a {
        text-decoration: none;
        color: black;
    }
}




/* #endregion */

/* #endregion */

/* #region Contenu Menus */

#contenuMenu {
    width: 100%;
    margin-bottom: 20px;
}

/* #region Présentation */
.presentation {

    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}


/* #endregion */

/* #region Titres des menus */

.menus {
    width: 100%;
    background-color: #f3f3f3;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    margin-top: -74px;
    position: relative;

    h2 {
        margin-left: 5%;
        margin-bottom: 0px;

        @include media-min("desktop") {
            text-align: center;
            margin-left: 0px;
        }

        @include media-min("tablette") {
            text-align: center;
            margin-left: 0px;
        }
    }

    .titresMenu {
        position: relative;

        .favorisMenu {
            position: absolute;
            left: 85%;
            top: 5px;
        }

        h1 {
            margin-left: 30px;
            font-weight: bold;
            font-family: $policeTitres;
            padding-top: 10px;
        }
    }

    button {
        background-color: $couleurSecondaire;
        border-radius: 25px;
        width: 50%;
        color: white;
        border-color: white;
    }

}


/* #endregion */

/* #region Blocs de menus */
.entrees,
.plats,
.desserts {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;


    @include media-min("desktop") {
        display: flex;
        flex-direction: row;
        align-content: space-between;
    }

    @include media-min("tablette") {
        display: flex;
        flex-direction: row;
        align-content: space-between;
    }
}


.blocMenu {
    background-color: white;
    border-radius: 15px;
    width: 90%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: $policeTexte;
    margin-bottom: 20px;
    box-shadow: 0px 8px 15px #636161;
    animation: apparitionMenuDivers 3s;


    @include media-min("desktop") {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 330px !important;
        height: 250px;
        margin-left: 2%;
        margin-right: 2%;

    }

    @include media-min("tablette") {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 30%;
        height: 318px;
        margin-left: 2%;
        margin-right: 2%;

    }

    .blocNom {
        width: calc(80%);
        max-height: 80px;
        min-width: 0;

        @include media-min("desktop") {
            height: 80%;
        }
    
        @include media-min("tablette") {
            height: 80%;
        }
    }
    .blocPrix{
        width: calc(20%);
        max-height: 80px;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        @include media-min("desktop") {
            align-items: center;
        }
    
        @include media-min("tablette") {
            align-items: center;
        }

    }
    .box{
        background-color: $couleurTertiaire;
        color:white !important;
        width: 0;
        height: 100%;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        display:none;

        @include media-min("desktop") {
            height: 0;
            width: 100%;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            border-top-right-radius: 0px;
        }
    
        @include media-min("tablette") {
            height: 0;
            width: 100%;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            border-top-right-radius: 0px;
            margin-top: 0px;
    
        }

    }

    &:hover .box{
        width: 25%;
        height: 100%;
        display:block;
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: $couleurTertiaire;
        transition:all 1s ease;

        @include media-min("desktop") {
            width: 100%;
            height: 40%;
        }

        @include media-min("tablette") {
            width: 100%;
            height: 25%;;
        }
    }

    h2,
    p {
        margin-top: 8px;
        margin-left: 15px;
        white-space:nowrap;
        overflow : hidden;
        text-overflow: ellipsis;

        @include media-min("desktop") {
            margin-left: 0px;
            white-space:normal;
            overflow : visible;
        }

        @include media-min("tablette") {
            margin-left: 0px;
            white-space:normal;
            overflow : visible;
    
        }
    }

    h2 {
        margin-bottom: 0px;
    }

}

hr {
    position:absolute;
    left: calc(5%);
    border:none;
    height: 5px;
    width: 40px;
    background: $couleurTertiaire;
    margin-bottom:20px;

    @include media-min("desktop") {
        position:relative;
        right: 0px;
        left:0px;
    }
    @include media-min("tablette") {
        position:relative;
        right: 0px;
        left:0px;
    }
}

.commandes {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    button {
        background: linear-gradient(180deg, $couleurSecondaire, $couleurPrimaire);
        border-radius: 25px;
        width: 200px !important;
        color: white;
        border: none;
        box-shadow: 0 5px 5px 0 rgb(216, 215, 215 / 5%); //#d8d7d7 couleur voulu

        &:hover {
            opacity: 0.8;
            box-shadow: 0 7px 7px 0 rgb(216, 215, 215 / 20%);
        }

        @include media-min("desktop") {
            width: 250px !important;
        }
        @include media-min("tablette") {
            width: 20%;
        }
    }
}




/* #endregion */

/* #endregion */

/* #region Footer */

footer {
    background-color: $grisnoir;
    padding: 10px;
}

.listeFooter {
    color: white;
    font-family: $policeTexte;
    padding-left: 5%;

    @include media-min("tablette") {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0%;
    }

    @include media-min("desktop") {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0%;
    }

    .logoFooter {
        display: flex;
        justify-content: flex-start;
        font-family: $policeTitres;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    .fas {
        width: 25px;
    }

    a{
        color:white;
        text-decoration:none;
    }

}

/* #endregion */


/* #region Test */
section {
    width: 20%;
    margin:auto;
}
.starter__menu {
    border: 1px solid black;
    display: flex;


    .description__plat {
        width: 85%;
        color: blue;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .prix__plat{
        width: 15%;
        margin-left: 5px;
    }

    .anim__cercle {
        background-color: $couleurTertiaire;
        width: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    &:hover .anim__cercle {
        width:30%;
        background-color: $couleurTertiaire;
        transition:all 1s ease;
        // animation: moveBox 2s;
    }


    // @keyframes moveBox {
    //     0% {
    //         transform: translateX(0%);
    //       }

    //     100% {

    //         transform: translateX(-100%);
    //       }
    // }


    // &:hover .fas-check-circle {
    //     animation: moveCircle 1.25s;
    // }

    // @keyframes moveCircle {
    //     100% {
    //         transform: rotate(360deg);
    //     }
    // }

}

/* #endregion */